<!DOCTYPE html>
<html>

<head>
    <title>Movie Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Movie</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('newMovie') }}" method="POST">
                        <h3>Movie Info</h3>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" name="title" id="title" /></br>
                        </div>
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <input type="text" class="form-control" name="year" id="year" /></br>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Links</h3>
                </div>
                <div class="panel-body">
                    <a href="/movies">Movie List</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
